/* vmb | iprogress.co.uk 2021 */

#wpadminbar { opacity:0;transition:opacity .2s;transition-delay:1s; }
	#wpadminbar:hover { opacity:1;transition-delay:0s; }

/* Global */
	.alignleft { float:left;margin:0px 10px 10px 0px; }
	.alignright { float:right;margin:0px 0px 10px 10px; }
	.aligncenter { display:block;margin:10px auto; }
	.left { text-align:left; }
	.right { text-align:right; }
	.center { text-align:center; }
	.flex {
		display: flex;
	}
	a { transition:all .2s; }
		a:hover { text-decoration:none; }
		.mobile-hide {
			display: block;
		}
		.mobile-only {
			display: none;
		}
.ig-icon {
    display: inline-block;
    font: normal normal normal 14px/1 "Ignite Icons";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* Bootstrap Override */
	.btn-primary { background-color:var(--primary);border-color:var(--primary); }
		.btn-primary:hover { background-color:var(--primary_light);border-color:var(--primary_light); }

	.btn-secondary { background-color:var(--secondary);border-color:var(--secondary); }
		.btn-secondary:hover { background-color:var(--secondary_light);border-color:var(--secondary_light); }

	.btn-tertiary { background-color:var(--tertiary);border-color:var(--tertiary); }
		.btn-tertiary:hover { background-color:var(--tertiary_light);border-color:var(--tertiary_light); }

	.border-bottom, .table > :not(:first-child) { border-color:#efefef !important; }

	.fa-rotate-45 { transform:rotate(-45deg); }

	.segment-in .fa-rotate-45 { transform:rotate(-135deg); }

/* Main */
	body { font-family:'greycliff-cf', sans-serif; font-style: normal; font-weight: 300;display: flex;flex-direction: column; min-height: 100vh; }
		#container { }
		.container  {flex: 1;}

		.inner, .container { width:100%;max-width:1080px;margin:0 auto; }

		/* Top Bar */
			#top-bar { background:var(--primary);color:#fff; }
				#top-bar nav { font-size:12px;padding:0 15px; }
					#top-bar ul { opacity:0.7;margin:0;padding:0;list-style:none; }
						#top-bar a { display:block;padding:7px 0;margin:0 0 0 15px;color:#fff;text-decoration:none;transition:background .4s; }
							#top-bar a:hover { background:var(--tertiary_darker); }

		/* Header */
			header { position:sticky;top:0;z-index:300;background:#fff; }
				#logo { width: 250px; }
					#logo a { }
						#logo img { width:auto;height:80px; }
						#btm-bar {
							max-height: 107px;
							background-color: #0c2d77!important;
						}
						.header-wrap {
							padding:  15px;
						}
						.header-button {
							background-color: #fff;
							border-radius: 8px;
							padding: 25px;
							color: #484848;
							letter-spacing: .15px;
							font-size: 18px;
							margin-right: 15px;
							font-weight: 300;

						}
						.header-button a {
							color: #484848;
							text-decoration: none;
						}
						.header-button i {
							padding-right: 16px;
							font-size: 24px;
							vertical-align: middle;
						}
						.right-side {
							display: flex;
							align-items: center;
						}
						#mega-menu-control {
							color: #fff;
							padding: 0 15px;
							text-align: center;
							font-size: 12px;
						}
						#mega-menu-control i {
							display: block;
							font-size: 36px;
						}

		/* Main Navigation */

			/*mega nav */

			.mega-menu {
				display: flex;
				position: fixed;
				opacity: 0;
			    top: 77px;
			    z-index: 9999;
			    background-color: #fff;
			    width: 100%;
			    height: calc(100% - 107px);
			    overflow-y: auto;
			    transition: all 0.15s;
			    z-index: -1;
			}
			body.open .mega-menu {
				display: flex;
				opacity: 1;
				top: 107px;
				z-index: 250;
			}
			.menu-setup {
				display: flex;
			    align-items: center;
			    flex: 1 1 auto;

			}
			.menu-container {
				max-width: 1600px;
				width: 100%;
			    margin: auto;
			    display: flex;
			    justify-content: space-between;
			    flex-direction: column;
			}
			.menu-row {
				width: 100%;
				display: flex;
			}
			.main-column {
				width: 25%;
				padding: 0 15px;
			}
			.main-column:nth-child(2){
				width: 50%;
			}
			.main-column:nth-child(2) ul {
				column-count: 2;
			}
			.column-title-container {
				min-height: 60px;
				padding: 0 24px;
			}
			.mega-menu .column-title {
				color: #0c2d77!important;
				font-size: 26px;
				line-height: 32px;
				letter-spacing: .42px;
				text-decoration: none;
				font-weight: 600;
				white-space: nowrap;

			}
			.column-title:hover {
				text-decoration: underline;
			}
			.mega-menu ul {
				list-style-type: none;
				margin-left: 0;
				padding-left: 0;
			}
			.mega-menu ul li {
				margin-bottom: 15px;
				font-size: 	18px;
				padding:0 24px;
			}
			.mega-menu li a {
				text-decoration: none;
				color: #484848;
			}
			.mega-menu li a:hover {
				color: #0c2d77!important;
					font-weight: 600;
			}
			.mega-menu .main-column:first-child {
				border-right: 1px solid #eee;
			}
			.mega-menu .main-column:last-child {
				border-left: 1px solid #eee;
			}
			.featured-links {
				display: flex;
				justify-content: space-around;
				align-items: center;
				width: 100%;
				padding-top: 30px;
			}
			.featured-link {
				width: calc(25% - 78px);
				border-radius: 6px;
				overflow: hidden;
				transform: scale(1.0);
				transition: all 0.15s;
			}
			.featured-link:hover {
				transform: scale(1.1);
			}
			.featured-link a {
				position: relative;
				width: 100%;
				height: 100%;
				display: block;
			}
			.featured-link img {
				width: 100%;
			}
			.featured-link span {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				right: 0;
				margin: auto;
				text-align: center;
				color: #fff;
				font-size: 18px;
				font-weight: 700;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: rgba(0,0,0,0.2);
			}

				#menu-main-navigation { height:100%;margin:0;padding:0;list-style:none;font-size:14px;font-weight:700; }
					#menu-main-navigation > li { height:100%; }
						#menu-main-navigation > li > a { height:100%;padding:0 20px;color:var(--secondary_darker);text-decoration:none;display:flex;align-items:center;justify-content:center; }
							#menu-main-navigation > li:hover > a {  }

				/* Arrows */
					#menu-main-navigation > li.menu-item-has-children > a:after { content:"\f107";font-family:"Font Awesome 5 Free";font-weight:600;margin-left:5px; }
					#menu-main-navigation > li.menu-item-has-children > .sub-menu > li.menu-item-has-children > a:after { content:"\f105";font-family:"Font Awesome 5 Free";font-weight:600;position:absolute;right:10px; }

				/* 1st Level Sub Menu */
					#menu-main-navigation > li > .sub-menu { border-top:2px solid var(--primary);box-shadow:0 2px 5px rgba(0,0,0,.1);background:#fff;margin:0;padding:0;list-style:none;opacity:0;visibility:hidden;position:absolute;min-width:200px;transition:all .3s;transition-delay:.3s; }
						#menu-main-navigation > li.menu-item-has-children:hover > .sub-menu { opacity:1;visibility:visible;transition-delay:0s; }

					#menu-main-navigation > li > .sub-menu > li { position:relative; }
						#menu-main-navigation > li > .sub-menu > li > a { text-decoration:none;color:var(--secondary_darker);display:block;padding:5px 10px;margin:10px 0;transition:all .4s; }
							#menu-main-navigation > li > .sub-menu > li:hover > a { background:rgba(0,0,0,.03);color:#000; }*/

				/* 2nd Level Sub Menu */
					#menu-main-navigation > li > .sub-menu > li > .sub-menu { background:var(--secondary_dark);margin:0;padding:0;list-style:none;opacity:0;visibility:hidden;position:absolute;left:200px;top:0;min-width:200px;transition:all .3s;transition-delay:.3s; }
						#menu-main-navigation > li.menu-item-has-children:hover > .sub-menu > li.menu-item-has-children:hover > .sub-menu { opacity:1;visibility:visible;transition-delay:0s; }

					#menu-main-navigation > li > .sub-menu > li > .sub-menu > li > a { color:var(--text);display:block;padding:15px 10px; }
						#menu-main-navigation > li > .sub-menu > li:hover > .sub-menu > li:hover > a { background:var(--primary);color:#fff; }*/

				/* Mega Nav */
					#menu-main-navigation > li.mega-nav { position:static; }
						#menu-main-navigation > li.mega-nav > .sub-menu { position:absolute;left:0;width:100%;padding:10px 0;columns:4; }
							#menu-main-navigation > li.mega-nav > .sub-menu li { padding:0 10px;float:left;display:block;width:100%; }
								#menu-main-navigation > li.mega-nav > .sub-menu li a { margin:5px 0;padding:5px; }

		/* User Navigation */
			#user-menu { background:var(--secondary_light);font-size:14px; }
				#user-menu ul { margin:0;padding:0;list-style:none;padding:10px 0; }
					#user-menu ul li { margin:0 0 0 10px; }
						#user-menu a { color:#666;display:block;padding:10px 15px;text-decoration:none;border-radius:.25rem; }
							#user-menu a:hover, #user-menu .current-menu-item a { background:var(--primary);color:#fff; }

		/* Content */
			#content { }
				article { font-size:14px;line-height:24px;padding:30px 0; }
					article h3 { margin-bottom:20px;font-size:26px;line-height:26px; }
				aside { }

			#featured-image { height:200px;background-color:var(--secondary);background-position:center center;background-size:cover;background-repeat:no-repeat; }
				#featured-image h1 { margin-bottom:0;color:#fff;font-size:50px; padding:0 10px }

		/* Content Columns */
				.row > br, .row ~ br { display:none; }

		/* Booking Details */
			.transfer-icon { background:var(--primary);border-radius:50%;width:50px;height:50px;color:#fff;font-size:18px;;line-height:18px; }
			.rating { color:#888; }

			#booking-cost { background:#efefef;padding:20px; }

		/* Payment Details */
			#traveltek-iframe { margin:30px 0 0; }

		/* View Documents */
			#view-documents a { color:var(--primary);font-weight:700;text-decoration:none; }
			#view-documents a:hover{ color:var(--primary_lighter); }

		/* Newsletter */
			#newsletter { background:var(--secondary);color:#fff;padding:20px 0; }
			#newsletter h3 { font-size:26px;line-height:26px;margin:0 0 5px; }
			#newsletter p { font-size:14px;line-height:24px;margin:0; }

		/* Footer */

			/* signup form */
				.frm_form_fields legend,
				.frm_form_fields label{
					display: none;
				}
				.frm_fields_container {
					display: flex;
				}
				footer .frm_form_fields input,
				footer .frm_button_submit {
					height: 65px;
					padding: 6px 12px;
					border: 1px solid #ced4da;
				}
				footer .frm_form_fields input[type="email"] {
					border-top-left-radius: 8px;
					border-bottom-left-radius: 8px;
					color: #495057;
				}
				footer .frm_form_fields input[type="email"]:focus,
				footer .frm_form_fields input[type="email"]:active,
				footer .frm_form_fields input[type="email"]:focus-visible
				 {

					outline: 1px solid rgb(128,189,255);
				}
				footer .frm_button_submit {
					border-top-right-radius: 8px;
					border-bottom-right-radius: 8px;
					background-color: #484848!important;
					color: #fff;
					margin-left: -1px;
				}

			footer { background:var(--primary);color:#fff;padding:0px 0; }
			.footer-top { background: #f8f9fa!important; padding:24px 15px; border-top: 1px solid #dee2e6!important;}
			.footer-top p {
				color: #484848;
				font-size: 11px;
			}
			.footer-top .flex {
				justify-content: space-between;
			}
			.footer-top .newsletter,
			.newsletter .wrapper,
			.footer-nav {
				width: 50%;
			}
			.footer-nav ul {
				list-style-type: none;
				margin-left: 0;
				display: flex;
				justify-content: space-between;
			}
			.footer-nav ul li {
				width: 33%;
				height: 30px;
				font-size: 14px;
				margin: 4px 0;
			}
			.footer-info-item {
				position: relative;
			}
			.tooltip > .tooltip-inner {font-family: 'greycliff-cf', sans-serif;color: #484848;background-color: #fff;opacity: 0.9;border: 1px solid #484848;
			}
			.tooltip > .tooltip-inner * {opacity: 1;}


			ul li a {
				color: #484848;
				text-decoration: none;
				font-weight: 300;
			}
			.footer-bottom {
				background-color: #0c2d77!important;
				color: #fff;
				padding: 24px 15px;
				height: 175px;
			}
			.footer-bottom .flex {
				height: 100%;
			}
			.footer-info {
				width:100%;
				/* border-right: 1px solid #fff; */
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				font-weight: 300;
			}
			.footer-info img {
				max-width: 150px;
				padding-right: 30px;
			}
			.copyright-text {
				font-size: 10px;
				margin-bottom: 30px;
			}
			.terms {
				display: flex;
				color: #fff;
				font-size: 10px;
			}
			.terms a {
				color: #fff;
				margin-right: 15px;
				font-size: 10px;
			}
			.footer-socials {
				flex-grow: 1;
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}
			.footer-socials a {
				color: #fff;
				font-size: 24px;
				padding-right: 15px;
			}

				.footer-left { width:50%;margin-right:20px; }
					.footer-left h3 { font-size:22px;line-height:22px; }
					.footer-left ul { margin:0;padding:0;list-style:none; }
						.footer-left li { width:30%;font-size:12px;line-height:12px;margin-bottom:5px;border-bottom:1px solid var(--primary); }
							.footer-left li:hover { border-bottom-color:#c7c7c7; }

							.footer-left a { color:#fff;display:block;padding:10px 0 5px;text-decoration:none; }
								.footer-left a:before { content:"\f0da";font-family:"Font Awesome 5 Free";font-weight:600;margin-right:5px; }

				.footer-right { width:50%;font-size:14px; }
					.footer-right > .flex > div { width:49%; }
					.footer-right .telephone { font-size:28px;line-height:28px;text-align:center; }
					.footer-right .social-media {  }
						.footer-right .social-media a { color:#fff;text-decoration:none;border-radius:3px;width:40px;height:40px;margin:0 5px; }
							.footer-right .social-media a:hover { background: #fff; }

					.footer-logos { margin:30px 0 0; }
						.footer-logos p { text-align:center; }
						.footer-logos img { width:80px;height:auto;margin-bottom:5px; }

			/* Footer Brands */
				#footer-brands { padding:30px 10px; }
					#footer-brands a { display:block;margin:0 5px; }
						#footer-brands img { height:40px;width:auto;filter:contrast(0);-webkit-filter:contrast(0); }
							#footer-brands img:hover { filter:contrast(1);-webkit-filter:contrast(1); }

			/* Alert */
				#alert-background { opacity:0;visibility:hidden;position:fixed;top:0;left:0;width:100%;height:100%;z-index:1000;background:rgba(12, 45, 119, 0.8);transition:all .3s }
					#alert-container { opacity:0;visibility:hidden;position:fixed;top:0;left:0;width:100%;height:100%;z-index:1001;transition:all .3s }
						#alert-content { width:100%;max-width:500px;background:#fff;margin:20px;border-radius:10px;margin-top:30px;transition: all .3s; }
							#alert-content h3 { margin:0 0 20px;padding:20px 20px 20px;font-size:26px;line-height:26px;border-bottom:1px solid #EFEFEF; }
							#alert-inner { padding:0 20px 20px;font-size:14px; }
								#alert-inner .icon { background:#B90000;border-radius:50%;width:50px;height:50px;color:#fff;font-size:18px;;line-height:18px; }
							#alert-content .buttons { margin:0;padding:0 0 20px; }

				#alert-background.open { opacity:1;visibility:visible; }
					#alert-container.open { opacity:1;visibility:visible; }
						#alert-container.open #alert-content { margin-top:0; }

			/* Mobile Navigation */
				#mobile-navigation-control { display:block;align-items:center;justify-content:center;width:50px;height:50px;color:var(--primary);cursor:pointer; }
				#mobile-navigation { position:fixed;z-index:6000;top:0;height:100%;min-width:260px;right:-80%;width:80%;background:var(--primary_dark);overflow-y:auto;padding:0 0 20px;transition:right .4s;text-transform:uppercase; }
					#mobile-navigation.mobile-nav-open { right:0; }
					#mobile-navigation ul { padding:0 15px;margin:0;list-style:none; }
						#mobile-navigation a { display:block;padding:10px;color:#fff;text-decoration:none;/*border-bottom:2px solid transparent;*/ }
							#mobile-navigation a:hover,#mobile-navigation .current-menu-item > a { /*border-color:#fff;*/ }

				#mobile-background { position:fixed;z-index:5999;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.75);opacity:0;visibility:hidden;transition:all 0.7s; }
					#mobile-background.mobile-nav-open { opacity:1;visibility:visible; }

/* Responsive */
	@media all and (max-width : 1200px) {
		.menu-container {
			max-width: 960px;
		}
		.mega-menu .column-title {
			font-size: 18px;
		}
		.mega-menu ul li,
		.featured-link span {
			font-size: 14px;
		}
	}

	@media all and (max-width : 969px) {
		#top-bar,
		#btm-bar nav
			{ display:none; }

		#user-menu ul li { margin:0 0 10px;padding:0 10px;width:100%;text-align:center; }
			#user-menu a {  }

		footer .inner.flex,
		.footer-right > .flex:first-child { flex-direction:column; }
			.footer-left { width:100%;padding:0 10px;margin-bottom:30px; }
			.footer-right { width:100%;padding:0 10px; }

		.footer-right > .flex:first-child > div { width:100%; }

		#logo img { height:50px; }

		#mobile-navigation-control { display:flex; }
	}

	@media all and (max-width : 740px) {
		.mobile-hide {
			display: none;
		}
		.mobile-only {
			display: block;
		}
		.mobile-tel {
			color: #fff;
			font-size: 18px;
		}
		#logo {
			margin-left: 15px;
		}
		#logo img {
			height: 75px;
		}
		.menu-row {
			flex-wrap: wrap;
		}
		.main-column {
			width: 100%;
		}

		.column-title-container {
			min-height: 0;
			height: auto;
			padding-bottom: 15px;
		}
		.featured-links {
			flex-wrap: wrap;
			padding: 16px;
		}
		.featured-link {
			width:calc(50% - 15px);
			margin-bottom: 15px;
		}

		.footer-top .flex {
			flex-direction: column;
		}
		.footer-top {
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 0;

		}
		.footer-top .newsletter {
			border-bottom: 1px solid #ddd;
			padding: 0 15px;
		}
		.footer-top .newsletter, .newsletter .wrapper, .footer-nav {
			width: 100%;
			font-size: 12px;
		}
		.footer-nav {
			padding: 15px;
		}
		.footer-bottom {
		}
		.footer-info, .footer-socials {
			width: 100%;
		}
		.footer-socials {
			justify-content: space-around;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			padding-top: 15px;
			padding-bottom: 15px;
		}
		.footer-bottom {
			height: auto;
		}
		.footer-info {
			border-right: 0;
			padding-top: 30px;
		}
		.footer-bottom .flex {
			flex-wrap: wrap;
						flex-direction: column-reverse;

		}
		.mega-menu .column-title:after {
			content: "\f13a";
			position: absolute;
			padding: 0 15px;
			font-family: 'Font Awesome 6 Pro';
			right: 0;
		}
		.mega-menu .sub-column.open .column-title:after {
			content: "\f139";
		}

		.column-title {
			border-bottom: 1px #ced4da solid;
			display: block;
			position: relative;
		}
		.menu-container {
			padding-top: 16px;
			height: 100%;
			justify-content: flex-start;
		}
		.main-column:nth-child(2) {
			width: 100%;
		}
		.main-column:nth-child(2) ul {
			column-count: 1;
		}
		.sub-column ul {
			display: none;
		}

	}

	@media all and (max-width : 440px) {

	}